html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #4B99AD;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.box-1 {
    background-color: #555555;
    width: 100%;
    height: 200px;

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 1px;
}

.box-2 {
    background-color: #C7573A;
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    float: left;
}


.box-3 {
    background-color: #555555;
    width: 33.333%;
    height: 50%;
    border: 1px solid #7ed321;
    display: inline-block;
    float: left;
}