html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #4B99AD;
}

.box-1 {
    background-color: #555555;
    height: 300px;
    margin: 0px;
}

.box-2 {
    background-color: #C7573A;
    height: 33.333%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;

}

.box-3 {
    background-color: #ccccff;
    height: 33.333%;
    border: 1px solid #7ed321;
}

.box-4 {
    background-color: #ffff00;
    height: 33.333%;
    border: 1px solid #000000;
}

@media only screen and (min-width: 768px) {
    .box-1, .box-2, .box-3, .box-4 {
        display: inline-block;
        float: left;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 50%;
    }

    .box-3 {
        width: 33.333%;
    }

    .box-4 {
        width: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    .box-1, .box-2, .box-3, .box-4 {
        display: inline-block;
        float: left;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 45%;
        margin-right: 50px;
    }

    .box-3 {
        width: 32%;
        margin-right: 12px;
    }

    .box-4 {
        width: 23%;
        margin-right: 12px;
    }
}