body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #7ed321;
    flex-direction: row;

}

.container {
    width: 200px;
    height: 100px;
    background-color: #4B99AD;
    border: solid;
}