body {
    width: 99vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7ed321;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid;
    padding: 0px;
    margin: 0px;

}

.container {
    width: 600px;
    height: 600px;
    background-color: #4B99AD;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner_box {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border: solid;
}