@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
}

body {
  padding: 50px;
}

hr {
  margin: 50px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.example {
  border: 6px solid black;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  margin-bottom: 100px;
  width: 800px;
}

.example h2 {
  text-align: center;
  font-weight: normal;
  background: black;
  color: white;
  margin: 0;
  padding: 1em;
}

.example-page {
  margin: 50px;
}

.example-media .media, .example-media .search-group {
  display: flex;
  max-width: 600px;
}

.example-media .media img {
  margin-right: 10px;
}

.search-group {
  background-color: #dddddd;
  height: 30px;
  flex-wrap: nowrap;
  display: inline-flex;
  flex-direction: row;
}

.textbox {
  /*background-color: blue;*/
  /*width: 200px;*/
  margin-right: 10px;
  flex: 1;
}

.submit-button {
  /*background-color: red;*/
  padding: 10px;
  width: 80px;
  flex:  0 0 80px;
}

/*.example-media .search-group input {*/
  /*padding: 10px;*/
/*}*/

/*.example-media .search-group input[type="text"] {*/
  /*!*flex: 1;*!*/
/*}*/

/*.example-media .search-group input[type="submit"] {*/
  /*background_color: red;*/
  /*padding: 10px;*/
  /*width: 80px;*/
  /*flex:  0 0 30px;*/
/*}*/
