@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
}

body {
  padding: 50px;
  display: block;
  box-sizing: border-box;
}

hr {
  margin: 50px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.example {
  border: 6px solid black;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  margin-bottom: 100px;
  width: 800px;
  flex: 1;
}

.example h2 {
  text-align: center;
  font-weight: normal;
  background: black;
  color: white;
  margin: 0;
  padding: 1em;
}

.example-page {
  margin: 50px;
}

.example-media .media, .example-media .search-group {
  display: flex;
  /*flex: 0 0 100px;*/
  /*min-width: 900px;*/
  margin: 10px 0;
}

.example-media .media img {
  margin-right: 10px;
}

/*.search-group {*/
  /*height: 30px;*/
  /*!*flex-wrap: nowrap;*!*/
  /*display: flex;*/
  /*flex-direction: row;*/
/*}*/

.textbox {
  margin-right: 10px;
  flex: 1;
}

.submit-button {
  /*background-color: red;*/
  /*width: 80px;*/
  flex:  0 0 200px;
  font-size: 13px;
  border: 1px solid red;
  height: 30px;
  margin: 0 5px;
}


.label-test {
  display: inline-block;
  border: 1px solid;
  width: 80px;
}


.container {
  display: flex;
  background-color: blue;
  padding: 15px;
  margin-bottom: 12px;
  width: 100%;
  min-width: 400px;
  flex-flow: wrap;
}
.box {
  margin: 0 5px;
  padding: 20px;
  margin: 6px;
}

.boxcontainer {
  flex: 0 0 200px;
  /*border: 2px solid black;*/
}
.box1 {
  background-color: yellow;
  flex: 0 0 100px;
}

.box2 {
  background-color: greenyellow;
  flex: 0 0 125px;
}

.box11 {
  background-color: red;
  flex: 1;
}

.box111 {
  background-color: green;
  flex: 1;
}

.box1111 {
  background-color: orange;
  flex: 1;
}